body {
    background-attachment: fixed;
    background-size: cover;
    margin: 60px auto;
    width: 70%;
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
 
}
h1 {
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    font-size: 40px;
    position: right;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p1 {
    
}
h2, h3, ul {
    color: Black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    font-size: 40px;
    font-family: "Helvetica", "Arial", "Sans-Serif";
}
p {
    font-weight: bold;
    font-size: 15px;
    color: Black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    line-height: 1.4em;
    
}
table, th, td {
    border: 1px solid black;
    font-weight: bold;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    color: Black;
    font-size: 15px;
   
}
     
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
Don't forget to commit the n
