body {
    background-image: url("http://img14.deviantart.net/f219/i/2014/186/6/e/jinx_word_art_by_capperclawed-d7pf45i.jpg");
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
 
}
h1 {
    font-size: 40px;
    position: right;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p1 {
    position: center center;
    font-size: 40px;
    line-height: 1.4em;
    color: DarkRed;
}
h2 {
    color: Black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    font-size: 40px;
    position: center:;
    font-family: "Helvetica", "Arial", "Sans-Serif";
}
p2 {
    font-weight: bold;
    position: right;
    font-size: 15px;
    color: Black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    line-height: 1.4em;
    background: url("https://definitelynotrori.files.wordpress.com/2015/07/lol_chibi_jinx_by_xyum_yumx-d90z5k1.png");
}
     
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
Don't forget to commit the n
